<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ASECODESO{% endblock %}</title>

    {% load staticfiles %}

    {% load compress %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'asecodeso/assets/vendor/bootstrap/bootstrap.min.css' %}" type="text/css" charset="utf-8">

    {% block stylesheets %}

    {% endblock %}

</head>
<body>
    <main>
        {% block header %}
        <!-- Header -->
        <header id="js-header" class="u-header u-header--static">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
                <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->

                        <!-- Logo -->
                        <a href="http://asecodeso.com/" class="navbar-brand">
                            <img src="{% static 'asecodeso/assets/img/logo/logo-1.png' %}" alt="Logo">
                        </a>
                        <!-- End Logo -->

                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                                <!-- Inicio -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="http://asecodeso.com/" class="nav-link g-py-7 g-px-0">
                                        Inicio
                                    </a>
                                </li>
                                <!-- End Inicio -->

                                <!-- Nosotros -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="#" class="nav-link g-py-7 g-px-0">
                                        Nosotros
                                    </a>
                                </li>
                                <!-- End Nosotros -->

                                <!-- Servicios -->
                                <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">
                                        Servicios
                                    </a>
                                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                                        <!-- Servicios - About -->
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="#">
                                                Constitucion
                                            </a>
                                        </li>
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="#">
                                                Contabilidad
                                            </a>
                                        </li>
                                        <li class="dropdown-item ">
                                            <a class="nav-link" href="#">
                                                ISO9001
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- End Servicios -->

                                <!-- Convenios -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="#" class="nav-link g-py-7 g-px-0">
                                        Convenios
                                    </a>
                                </li>
                                <!-- End Convenios -->

                                <!-- Recursos -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="#" class="nav-link g-py-7 g-px-0">
                                        Recursos
                                    </a>
                                </li>
                                <!-- End Recursos -->

                                <!-- Contacto -->
                                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                                    <a href="#" class="nav-link g-py-7 g-px-0">
                                        Contacto
                                    </a>
                                </li>
                                <!-- End Contacto -->
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        <!-- Footer -->
        <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">
                                Nosotros
                            </h2>
                        </div>

                        <p>
                            En ASECODESO llevamos más de 3 años formando micro y pequeñas empresas, ayudándolas a crecer y progresar.
                        </p>
                    </div>
                    <!-- End Footer Content -->

                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">
                                Links Útiles
                            </h2>
                        </div>

                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
					                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">
                                            Nosotros
                                        </a>
					                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
				                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
					                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">
                                            Servicios
                                        </a>
					                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
				                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
					                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">
                                            Convenios
                                        </a>
					                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
				                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
					                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">
                                            Recursos
                                        </a>
					                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
				                    </h4>
                                </li>
                                <li class="g-pos-rel g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
					                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">
                                            Contáctanos
                                        </a>
					                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
				                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Footer Content -->

                    <!-- Footer Content -->
                    <div class="col-lg-4 col-md-6">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">
                                Contactos
                            </h2>
                        </div>

                        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url({% static 'asecodeso/assets/img/maps/map2.png' %});">
                            <!-- Location -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    Av. Jorge Basadre 607, Of. 619, <br> San Isidro - Lima
                                </p>
                            </div>
                            <!-- End Location -->

                            <!-- Phone -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    (+51) 923 232 200 <br> (01) 713 3688
                                </p>
                            </div>
                            <!-- End Phone -->

                            <!-- Email and Website -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">
                                        info@asecodeso.com
                                    </a>
                                    <br>
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">
                                        www.asecodeso.com
                                    </a>
                                </p>
                            </div>
                            <!-- End Email and Website -->
                        </address>
                    </div>
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->
        {% endblock %}

        <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
            "bottom": 15,
            "right": 15
            }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- JS Global Compulsory -->
    {% compress js %}
    <script src="{% static 'asecodeso/assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'asecodeso/assets/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'asecodeso/assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'asecodeso/assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
    {% endcompress %}

    {% block javascripts %}

    {% endblock %}
</body>
</html>